
:root {
	--color-brand-primary: #A64D79;
	--color-brand-secondary: #ACD7EB;
	--color-brand-white: #FCFCFC;
	--color-brand-black: #000;
	--color-gray-700: #495057;
	--text-text-primary: #212529;
  }